
.reviewHeader {
  justify-content: left;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 0px;
  text-align: left;
  border: 1px solid black;
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.respondButton {
  float: right;
  margin-left: 5px;
}

/* TODO - make this width not hard-coded */
.reviewList {
  margin-left: 5px;
  flex: 12;
  width: 75%;
  list-style-type: none;
}

.dashboard {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.searchBar {
  flex: 1;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  align-self: flex-start;
}

.sourceBoxes {
  justify-content: left;
  text-align: left;
}

.flagOffcanvas {
  height: 10%;
}

.successAlert {
  width: 70%;
  justify-content: center;
}

.reviewContent {
  justify-content: left;
  text-align: left;
}

.accordionBody {
  position: relative;
}

.accordionButtons {
  display: flex;
  justify-content: flex-end;
}

.centeredFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-self: center;
}

.searchTextbox {
  padding-bottom: 10px;
}

.starDropdown {
  padding-top: 10px;
}

.reviewAccordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.userHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-self: stretch;
  flex-direction: row;
}

.userInfo {
  display: flex
}