
.reviewHeader {
  justify-content: left;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 0px;
  text-align: left;
  border: 1px solid black;
}

.reviewBody {
  margin-top: 10px;
  margin-bottom: 5px;
  margen-right: 10px;
}

.respondButton {
  float: right;
  margin-left: 5px;
}

/* TODO - make this width not hard-coded */
.reviewList {
  margin-left: 5px;
  flex: 12;
  width: 75%;
  list-style-type: none;
}

.dashboard {
  width: 80%;
  display: flex;
}

.searchBar {
  flex: 1;
  border: 1px solid black;
}

.sourceBoxes {
  justify-content: left;
  text-align: left;
}

.flagOffcanvas {
  height: 10%;
}

.successAlert {
  width: 70%;
  justify-content: center;
}

.reviewContent {
  justify-content: left;
  text-align: left;
}

.accordionBody {
  position: relative;
}

.accordionButtons {
  display: flex;
  justify-content: flex-end;
}